{% url 'login' as login %}
{% url 'register' as register %}
{% url 'logout' as logout %}

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="#" class="navbar-brand">Sms store</a>

    <button type="button" name="button" class="navbar-toggler navbar-toggler-right"  data-toggler="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navb" class="collapse navbar-collapse flex-row-reverse"">

        <ul class="nav navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="navbar-item ">
                    <a href="{{logout}}" class="nav-link">
                        <span class="fa-solid fa-right-from-bracket"></span>
                        Logout</a>
                </li>
            {% else %}
                <li class="navbar-item  ">
                    <a href="{{login}}" class="nav-link {% if request.path == login %}active{% endif %}">
                        <span class="fas fa-user"></span>
                        Loguin</a>
                </li>
                <li class="navbar-item ">
                    <a href="{{register}}" class="nav-link {% if request.path == register %}active{% endif %}">
                        <span class="fa-solid fa-user-pen"></span>
                        Registro</a>
                </li>
                
            {% endif %}
        </ul>

    </div>
</nav>